.container {
    display: inline-grid;
    grid-template-columns: 75px 225px;
    grid-template-rows: 75px 75px 375px 75px;
    gap: 15px;
}

#header {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#footer {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: rgb(55, 52, 96);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#article {
    background-color: purple;
    color: white;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

#articlewords {
    padding: 20px
}

#sidebar {
    background-color: rgb(58, 96, 96);
    color: white;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#nav {
    background-color: darkblue;
    color: white;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
